* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

footer {
  height: 10vh;
  width: 100vw;
}

#top-buttons {
  height: 5vh;
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  margin: 1vh auto 2vh;
}

#room-select {
  flex: 3;
  border: none;
  background-color: #052f5f;
  color: #f4faff;
  text-align-last: center;
  border-radius: 10px;
  margin-right: 5px;
  appearance: none;
  cursor: pointer;
}

.add-new-button {
  flex: 1;
  background-color: #052f5f;
  color: #f4faff;
  border-radius: 10px;
  cursor: pointer;
}

#table-container {
  width: 90vw;
  display: block;
  margin: 0 auto;
}

#new-item-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
}

#new-item-content {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
  align-content: space-around;
  width: 500px;
  max-width: 90%;
  max-height: 50%;
  position: relative;
  background-color: #f4faff;
  border-radius: 10px;
  padding: 0 5px;
}

.field-cont {
  width: 50%;
  flex: 50%;
  padding: 5px;
  display: flex;
}

.new-item-input {
  background-color: #f4faff;
  box-sizing: border-box;
  border-radius: 10px;
  width: 50%;
  flex: 50%;
  border: 0.5px solid #06a77d;
  border-radius: 10px;
  padding: 5px;
  min-height: 30px;
  display: flex;
  align-items: center;
  outline: none;
}

.new-url-input {
  display: flex;
  align-items: center;
  background-color: #f4faff;
  box-sizing: border-box;
  border-radius: 10px;
  width: 90%;
  flex: 100%;
  margin-left: 5px;
  margin-right: 5px;
  border: 0.5px solid #06a77d;
  border-radius: 10px;
  min-height: 30px;
  padding: 0 5px;
}
.new-url-field {
  border: none;
  flex: 90%;
  height: 24px;
  outline: none;
  background-color: #f4faff;
}

.small-button {
  stroke: #f4faff;
  stroke-width: 15px;
  padding: 2px;
  width: 24px;
  height: 24px;
  margin-left: auto;
  border-radius: 60%;
  background-color: #06a77d;
  cursor: pointer;
}

.button-container {
  display: flex;
  flex: 100%;
  padding-right: 11px;
  margin-top: 5px;
}

#add-new-item {
  flex: 50%;
  height: 20%;
  min-height: 30px;
  outline-color: #3d5a6c;
}

#new-bought-field {
  margin-left: 5px;
  outline-color: #3d5a6c;
  background-color: #f4faff;
}

#alert-popup {
  visibility: hidden;
  opacity: 0;
  background-color: #f4faff;
  width: 30vw;
  height: 10vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  border-radius: 10px;
  left: calc((100vw - 30vw) / 2);
  transition: opacity 2s ease-in-out;
}

table {
  width: 100%;
  border: solid 1px #052f5f;
  border-radius: 3px;
  font-size: 0.8rem;
}

th {
  text-align: center;
  border: solid 1px #052f5f;
  border-radius: 5px;
}

.std-header {
  width: 10vw;
}

.wide-header {
  width: 50vw;
}

td {
  text-align: center;
  border-bottom: 1px solid #052f5f;
  color: #052f5f;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.1rem;
}

.item {
  text-align: left;
  font-size: 1.1rem;
}

.link {
  text-decoration: underline;
}
